<app-header/>
<main class="bg-main-sony">
    <app-card img="./assets/bt-1.jpg"/>
    <app-card img="./assets/bt-hardline.jpg"/>
    <app-card img="./assets/bt-4.jpg"/>
    <app-card img="./assets/bt-5.jpg"/>
    <app-card img="./assets/bt-1.jpg"/>
    <app-card img="./assets/bt-hardline.jpg"/>
    <app-card img="./assets/bt-4.jpg"/>
    <app-card img="./assets/bt-5.jpg"/>
    <app-card img="./assets/bt-1.jpg"/>
    <app-card img="./assets/bt-hardline.jpg"/>
    <app-card img="./assets/bt-4.jpg"/>
    <app-card img="./assets/bt-5.jpg"/>
</main>
