.bg-main-sony{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    place-items: center;
    padding: 85px 30px;
    gap: 50px;
    justify-content: center;
    background-image: linear-gradient(90deg,rgb(13, 27, 54), #083B85);
}