@media screen and (max-width: 660px) {
    img{
        width: 580px;
    }
}
@media screen and (max-width: 600px) {
    img{
        width: 440px;
    }
    .salario{
        font-size: 15px;
    }
}
@media screen and (max-width: 455px) {
    img{
        width: 370px;
    }
    .salario{
        font-size: 13px;
    }
    input{
        padding: 5px;
    }
    button{
        padding: 5px;
    }
}

@media screen and (max-width: 400px) {
    img{
        width: 290px;
    }
    .salario{
        font-size: 10px;
    }
}