<header>
    <nav>
        <div class="flex container">
            <div>
                <img class="img-ps-logo" src="./assets/ps-logo.png" alt="">
            </div>
            <div class="flex container-links">
                <ul class="flex">
                    <li><a href="">Novidades</a></li>
                    <li><a href="">Coleções</a></li>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Navegar</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>